{% extends 'homepage/layout.html' %}
{% load static %}


{% block body %}

<div class="heading">
   <h3>shopping cart</h3>
   <p> <a href="{% url 'home' %}">home</a> / cart </p>
</div>

<section class="shopping-cart">

   <h1 class="title">products added</h1>

   <div class="box-container">
      {% if numberOfItemInCart > 0 %}
         {% for product in cart_data %}
            <div class="box">
               <!-- the click button to delete a product -->
               <a href="{% url 'deletecart' product.id %}" class="fas fa-times" onclick="return confirm('delete this from cart?');"></a>
               <img class="image" src="{{product.image.url}}" alt="">
               <div class="name">{{product.name}}</div>
               <div class="price">${{product.price}}/-</div>
               <form action="{% url 'cart' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="name" value="{{product.name}}">
                  <input type="number" min="1" name="cart_quantity" value="{{product.quantity}}">
                  <input type="submit" name="update_cart" value="update" class="option-btn">
               </form>
               <div class="sub-total"> sub total : <span>${% widthratio product.price 1 product.quantity %} /-</span> </div>
            </div>
         {% endfor %}

      {% else %}
         <p class="empty">your cart is empty</p>
      {% endif %}
   </div>
   <!-- the grand_total > 1 is just like an if statement if the grand_totali is < 1 then that button gets disabled
      only clickeable when > 1 -->
   <div style="margin-top: 2rem; text-align:center;">
      <a href="{% url 'deleteAll' %}" class="delete-btn {% if grand_total > 1 %} {% else %}disabled{% endif %}"
         onclick="return confirm('delete all from cart?');">delete all</a>
   </div>

   <div class="cart-total">
      <p>grand total : <span>${{grand_total}}/-</span></p>
      <div class="flex">
         <a href="{% url 'shop' %}" class="option-btn">continue shopping</a>
         <a href="{% url 'checkout' %}" class="btn {% if grand_total > 1 %} {% else %}disabled{% endif %}">proceed to checkout</a>
      </div>
      
   </div>

</section>
{% endblock body %}