<section class="footer">

   <div class="box-container">

      <div class="box">
         <h3>quick links</h3>
         <a href="/">home</a>
         <a href="{% url 'about' %}">about</a>
         <a href="{% url 'shop' %}">shop</a>
         <a href="contact.php">contact</a>
      </div>

      <div class="box">
         <h3>extra links</h3>
         <a href="{% url 'login' %}">login</a>
         <a href="{% url 'register' %}">register</a>
         <a href="{% url 'cart' %}">cart</a>
         <a href="{% url 'order' %}">orders</a>
      </div>

      <div class="box">
         <h3>contact info</h3>
         <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
         <p> <i class="fas fa-phone"></i> +111-222-3333 </p>
         <p> <i class="fas fa-envelope"></i> sololdavid4@gmail.com </p>
         <p> <i class="fas fa-map-marker-alt"></i> Ogun state, Nigeria </p>
      </div>

      <div class="box">
         <h3>follow us</h3>
         <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
         <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
         <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
         <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
      </div>

   </div>

   <p class="credit"> &copy; copyright by <span>mr. web designer</span> </p>

</section>