{% extends 'homepage/layout.html' %}
{% load static %}

{% block body %}
   
   <section class="home">

      <div class="content">
         <h3>Hand Picked Book to your door.</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quod? Reiciendis ut porro iste totam.
         </p>
         <a href="{% url 'about' %}" class="white-btn">discover more</a>
      </div>

   </section>

   <section class="products">

      <h1 class="title">latest products</h1>

      <div class="box-container">
         {% if count > 0 %}
            {% for product in product_six_data_entry %}
            
               <form action="{% url 'home' %}" method="POST" class="box">
                  {% csrf_token %}
                  <img class="image" src="{{product.image.url}}" alt="">
                  <div class="name">{{product.name}}</div>
                  <div class="price">${{product.price}}/-</div>
                  <input type="number" min="1" name="product_quantity" value="1" class="qty">
                  <input type="hidden" name="product_name" value="{{product.name}}">
                  <input type="hidden" name="product_price" value="{{product.price}}">
                  <input type="hidden" name="product_image" value="{{product.image}}">
                  <input type="submit" value="add to cart" name="add_to_cart" class="btn">
               </form>
            {% endfor %}
         {% else %}
            <p class="empty">no products added yet!</p>
         {% endif %}

      </div>

      <div class="load-more" style="margin-top: 2rem; text-align:center">
         <a href="{% url 'shop' %}" class="option-btn">load more</a>
      </div>

   </section>

   <section class="about">

      <div class="flex">

         <div class="image">
            <img src="{% static 'img/about-img.jpg' %}" alt="about image">
         </div>

         <div class="content">
            <h3>about us</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quos enim minima ipsa dicta officia
               corporis ratione saepe sed adipisci?</p>
            <!-- link to about -->
            <a href="#" class="btn" alt="#">read more</a>
         </div>

      </div>

   </section>

   <section class="home-contact">

      <div class="content">
         <h3>have any questions?</h3>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque cumque exercitationem repellendus, amet
            ullam voluptatibus?</p>
         <a href="#" class="white-btn">contact us</a>
      </div>

   </section>

{% endblock body %}
