{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %} <title>Home Page</title> {% endblock title %}
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        {% if messages %}
            {% for message in messages %}
               <div class="message">
                  <span>{{message}}</span>
                  <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
               </div>
            {% endfor %}
        {% endif %}
        {% block header %}
            {% include 'homepage/header.html' %}
        {% endblock header %}

        {% block body %}
        {% endblock body %}

        {% block footer %}
            {% include 'homepage/footer.html' %}
        {% endblock footer %}
         <!-- custom js file link  -->
        <script src="{% static 'js/user.js' %}"></script>
    </body>
</html>