{% extends "homepage/layout.html" %}

{% load static %}
{% block header %}{% endblock header %}
{% block body %}
      
   <div class="form-container">
      <form action="{% url 'login' %}" method="post">
         {% csrf_token %}
         <h3>login now </h3>
         <input type="text" name="username" placeholder="Enter your username" required class="box">
         <input type="password" name="password" placeholder="Enter your password" required class="box">
         <input type="submit" name="submit" value="login now" class="btn">
         <p>don't have an account? <a href="{% url 'register' %}">sign up</a></p>
      </form>

   </div>
{% endblock body %}